<!DOCTYPE html>
<html>
  <head>
    <title>Sample app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>welcome to home</h1>
    <a href="/auth/google">Login With Google</a>
    <a href="/auth/github">Login With Github</a>
  </body>
</html>
