<!DOCTYPE html>
<html>
  <head>
    <title>sample app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome Home</h1>
    <a href="/auth/github">Login with Github</a>
  </body>
</html>
