<!DOCTYPE html>
<html>
  <head>
    <title>sample app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login success</h1>
    <a href="/">Go Home</a>
  </body>
</html>
